doctype html
html
  head
    title= title
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/hangyeajax.js')
    link(rel='stylesheet', href='/stylesheets/hangye.css')
body
    h1股票讯息网
    div(class="div2") 
        - for(j=0;j<xinti1.length;j++){            
            div(class="div3")
                p= xinti1[j].stockname
                p= xinti1[j].price
                p= xinti1[j].code
        - }